@charset "UTF-8";
.event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.event:not(:last-child) {
  border-bottom: 1px #ddd solid;
}
.event .tab-title {
  margin-bottom: 10px;
}
.event .event-title {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.event .event-description {
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
  line-height: 20px;
}
.event .event-bullet-list {
  list-style-position: outside;
  padding-left: 20px;
}
.event .event-bullet-list .event-bullet-header {
  font-weight: 500;
}
.event .event-bullet-list .event-bullet {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}
.event .event-authors {
  font-size: 16px;
  font-weight: 300;
}
.event .event-authors .event-author-list .event-author a {
  text-decoration: none;
  color: #cfad7d;
}
.event .event-authors .event-author-list .event-author a:hover {
  text-decoration: underline;
}
.event .event-authors .event-author-list .event-author:not(:first-child):before {
  content: "•";
  color: #000;
  margin: 0px 8px;
}

.bio .bio-text-area .bio-name {
  margin: 30px 0px 0px 0px;
}
.bio .bio-text-area .bio-title {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  color: #cfad7d;
  font-weight: 100;
  letter-spacing: 2px;
}
.bio .bio-text-area .bio-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
.bio .bio-image-area {
  float: right;
  padding: 40px 10px 10px 20px;
}

.event div .tab-title {
  display: block !important;
  margin-top: 10px;
}

.organizers .tab-title {
  display: block !important;
  margin-top: 15px;
  margin-bottom: 10px;
}

.session-box {
  margin: 0px 0px 20px 25px;
  border: 1px solid #ccc;
  width: 80px;
}
.session-box .session-heading {
  background-color: #555;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center;
  padding: 2px;
  font-weight: 300;
}
.session-box .session-text {
  font-size: 13px;
  padding: 2px;
  font-weight: 300;
  text-align: center;
  color: #cfad7d;
}

.tab-title {
  font-family: 'Jura', 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
}